MONGODB_URI=mongodb+srv://stellermartbd_db_user:turjo123@cluster1.vdmgfzi.mongodb.net/stellermart_db?retryWrites=true&w=majority
JWT_SECRET=stellarmartbd_secret_key_2024
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_USER=37b73886a0962c
EMAIL_PASS=846c80b7793041
FROM_EMAIL=noreply@stellarmartbd.com

